{{#with movie}}
<h2>Edit {{title}}</h2>
<form action="/movies/{{_id}}/edit" method='POST'>
    <label for="name">Title: </label>
    <input type="text" name="title" id="title" value="{{title}}">

    <label for="Genre">Genre: </label>
    <input type="text" name="Genre" id="Genre" value="{{genre}}">

    <label for="plot">Plot: </label>
    <input type="text" name="plot" id="plot" value="{{plot}}">
    {{!--     
    <label for="cast">Cast: </label>
    <input type="text" name="cast" id="cast" value="{{cast}}"> --}}
{{/with}}
    <label for="cast">Cast:</label>
    <select name="cast" id="" multiple>
        {{#each celebs}}
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>

    <button type="submit">Submit Changes</button>
</form>
